@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #121212;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 0px;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f5;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #1c1c25;
  border-radius: 0px;
}
